%br
%p= t(".intro")

.row
  = table_for @subscriptions, "table-striped span7", :period, :tip_scope, :tip_count, actions: true
  %fieldset.span5
    %legend= t(".add_new_subscription")
    = simple_form_for :subscription, url:[:user, :subscriptions], html: {class: ""} do |f|
      = f.input :period, collection: subscription_periods, include_blank: false, required: false
      = f.input :tip_scope, collection: subscription_tip_scopes, include_blank: false, required: false
      = f.input :tip_count, collection: subscription_tip_counts, include_blank: false, required: false

      = f.submit t(".create"), class: "btn btn-primary"

