.row

  = simple_nested_form_for @tip do |f|
    .span7
      = f.input :title, input_html: {class: "span7"}
      = f.input :content, required: false, input_html: {class: "span7", rows: 10}
      = f.submit class: "btn btn-primary btn-large"
      = button_link_to t("back"), root_path, class: "cancel"

    .span5
      = f.input :tag_list, input_html: {class: "span5"}

      = f.association :category, collection: Category.roots, label_method: :localized_name

      %fieldset#tip_links
        %legend= t(".links")

        = f.fields_for :links, @tip.links do |links_fields|
          = links_fields.label :url, Link.human_attribute_name(:url)
          = links_fields.text_field :url, class: "span5"

          = links_fields.label :description, Link.human_attribute_name(:description)
          = links_fields.text_area :description, class: "span5", rows: 3

          = links_fields.link_to_remove content_with_icon(t(".remove_link"), "minus"), class: "btn"
          %hr

        = f.link_to_add content_with_icon(t(".add_link"), "bookmark", :white), :links, class: "btn btn-success"

