.navbar.span4.pagination-centered
  .navbar-inner
    %p.brand= t("tips.navbar.show")
    %ul.nav
      %li{class: "#{'active' if action_name == 'index'}"}
        = link_to content_with_icon(t("tips.navbar.by_date"), "time"), [:tips]
      %li{class: "#{'active' if action_name == 'popular'}"}
        = link_to content_with_icon(t("tips.navbar.by_popularity"), "thumbs-up"), [:popular, :tips]
