- content_for :title do
  - @tip.title

= link_to t("back"), tips_path, class: "pull-right btn btn-inverse"

%p
  = t(".created_by")
  %span.tip_author= @tip.author.email
  = t(".created_on")
  = @tip.created_at.to_s(:short)



%p
  = Tip.human_attribute_name :tags
  = tip_tag_list_for(@tip)

%br
.well
  %p= raw @tip.content

  %h3= Tip.human_attribute_name :links
  = tip_links_for(@tip)

= button_link_to(t("edit"), edit_tip_path(@tip), class: "primary") if @tip.author == current_user

