- content_for :title do
  - @tip.title
= javascript_include_tag "disqus"

#main_row.row
  %br
  .span9
    %p
      = t(".created_by")
      %span.tip_author= @tip.author.email
      = t(".created_on")
      = @tip.created_at.to_s(:short)
    %p
      %span= Tip.human_attribute_name :tags
      = tip_tag_list_for(@tip)
    %br
  #tip_votes.span3.pagination-right
    = render "tip_reputation" if current_user.present?

  = link_to(t("edit"), edit_tip_path(@tip),id: "edit_tip_btn", class: "btn btn-alert") if @tip.author == current_user

  %br
  .span12
    .well
      %p= raw @tip.content

  - unless @tip.links.empty?

    .span12
      %h3= Tip.human_attribute_name :links

      %table#tip_links.table.table-bordered.table-striped
        = render @tip.links
      %hr

  .span12
    #disqus_thread
