!!!
%html
  %head
    %title= yield :title

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body{class: "#{controller_path.split("/").join(" ")}"}

    = render 'menu'

    %br

    .subbar
      .container
        #top_row.row
          .span12
            = render_flash

            = page_title

    #main_container.container
      = yield

    = render 'footer'